@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width: 1090px;
	overflow: hidden;
}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 15px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/* LAYOUT */

#top{
	background-color: #8c4600;
	.top-content{		
		line-height : 30px;
		color: $sub_color1;
		.top-text{
			line-height : 30px;
			float : left;			
			font-size: 11px;
		}
		.top-lang{
			list-style: none;
			margin:0;
			padding: 0; 
			float: right;
			li{
				display: inline-block;
				padding : 0px 15px;
				.fa{
					padding-right: 5px;				
					font-size: 10px;
				}
				a{
					font-size: 12px;
					color: $sub_color1;
				}
				a:hover{
					text-decoration: underline;			
				}
			}
			li:last-child{
				padding: 0 0 0 15px;
			}
		}			
	}	
}

header{
	background : $main_color;
	.header-content{
		padding-top: 20px;
		.logo{
			padding-top: 3px;
			float : left;
			a:hover{@include border_radius(5px);}
		}
		.header-tel{			
			margin: 9px 0 0 77px;
			float: left;
		}
		.header-con{
			margin-left: 10px;
			float: left;
			width: 220px;
			.contact-text{				
				color: #ff5b26;					
				margin: 5px 0 0 -5px;
				font:{
					size: 11px;
					weight: bold;
				}
			}
		}
	}
}

nav{	
	background: $main_color;
	padding: 20px 0 1px;
	#gNavi .dynamic {		
		margin: 0px;
		padding: 0px;    
		list-style: none; 
	}
	#gNavi .dynamic li {
		float: left;    
		border-left: 1px solid #8c4600;
	}
	#gNavi .dynamic li:last-child {
		border-right: 1px solid #8c4600;
		width: 180px !important;
	}
	#gNavi .dynamic li a {	
		color: #fff;
		display: block;         
		padding: 10px 0 5px;
	}
	#gNavi .dynamic li a span {
		display: block;
		text-align: center;    
	}
	#gNavi .dynamic li a span.first {
		color : $sub_color1;
		font-size: 16px;
		line-height: 15px;
		font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
	}
	#gNavi .dynamic li a span.second {		
		font-size: 10px; 
		color: #ffaf60;
	}
	#gNavi .dynamic li a:hover {
		background : transparent url("../img/common/top_navi_hover.jpg") repeat-x 0 0 scroll;
	}	
	/* end gNavi */	
}

#maintop{
	background: #e3e3e3;
	padding: 25px 0 15px;
	.maintop-content{
		.maintop-left{
			width: 785px;
			float: left;
			img{
				box-shadow: 0 0 2px 2px #cecece;
			}
		}
		.maintop-right{
			width: 265px;
			float: right;
			img{
				box-shadow: 0 0 2px 2px #cecece;
			}
			.maintop-right2{
				padding-top: 11px;
			}
		}
	}
}

#feature{
	background: #e3e3e3; 
	padding: 26px 0;
	.header-content{		
		position: relative;
		img {
			box-shadow: 0 0 2px 2px #cecece;
		}
		.feature-title{
			position: absolute;	
			color: #8C4600;
			top: 0;
			left: 27px;
			font-size: 50px;
			line-height: 152px;
			font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
			.feature-icon{
				color: $sub_color1;
				background: #8c4600;
				@include border_radius(67px);								
				width: 67px;
				height: 67px;
				line-height: 67px;
				font-size: 18px;
				float: left;
				text-align: center;
				margin: 42px 20px 0 0;
				text-shadow: none;
			}
		}
	}
}

#faq-feature{
	padding-top: 34px;
	background-color: #e3e3e3;
	text-indent: -9999px;
}

#page-breadcrumb{
	margin: 27px 0 7px;
	.home{
		text-decoration: underline;
		color: #8C4600;
	}
	a:hover{
		text-decoration: none;
	}		
}	

#top-flow-navi{
	background: $main_color;
	padding: 10px 0;
	.flow-process{
		float: left;
		margin: -2px 0 0 -30px;
	}
	.flow-navi{		
		float: left;
		padding-left: 47px;
		margin: 0px;		   
		list-style: none; 
		li{
			float: left;
			padding-left: 4px;
			a{
				display: inline-block;				
			}			
			a:hover{				
				@include border_radius(5px);
			}
		}
		
		li:first-child{
			padding-left: 0;
			padding-right: 20px;
		}
	}
}
#content{
	padding : 20px 0px 60px;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-250{
		.image{ width : 250px; }
		.text{ width : $primary_width - 250px - 20px; }
	}

	.message-264{
		.image{ width : 264px; }
		.text{ width : 444px; }
	}
	
	.message-364{
		margin-top: 30px;
		.image{ width : 364px; }
		.text{ width : $primary_width - 364px - 20px; }
	} 
	
	.message-300{
		.image{
			width : 300px; 
			img {
				box-shadow: 0 0 2px 2px #e7e7e7;
			}
		}
		.text{ 
			width : $primary_width - 300px - 20px; 
			color: $sub_color3;
			line-height: 2em;
			.reason-clrpink{
				color: #FF3355;
				font:{	
					size: 14px;
					weight: bold;
				}
			}
		}
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col177{
		.message-col{			
			width: 177px;	
			margin-left: 17px;		
			.image{
				padding: 4px;
				border: 1px solid #eaeaea;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col129{
		.message-col{
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			width: 129px;	
			margin-left: 10px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col226{
		.message-col{
			width: 226px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-title{
		background : transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
		line-height: 52px;
		margin-bottom: 20px;				
		padding-left: 35px;
		color: $sub_color2;
		width: 763px;
		font:{
			size: 20px;
			weight: bold;
		}
	}	
	.h3-title{
		background : transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
		line-height: 52px;
		margin-bottom: 20px;				
		padding-left: 35px;
		color: $sub_color2;
		width: 763px;
		font:{
			size: 20px;
			weight: bold;
		}
	}	
	
	.h3_title{
		margin-bottom: 15px;
	}
	
	/* side-con */
	.side-con-bg{
		position: relative;
		.side-con-btn{
			position: absolute;
			bottom: 120px;
			left: 10px;
		}
		.side-con-text{
			position: absolute;
			bottom: 20px;
			left: 13px;
			color: #333;
			.side-text-first{
				font:{
					size: 14px;
					weight:bold;
				}
			}
		}
	}
	
	
	/* globalNavi.css */	
	.globalNavi{	
		margin : 0px;
		padding-top: 75px;
		padding-left: 0;
		list-style: none;
		float:left;	
		background : transparent url("../img/common/side_img_flow.jpg") no-repeat 0 0 scroll;
		height: 494px;
		width: 280px;
	}	
	.globalNavi li{
		padding-bottom: 5px;
	}	
	.globalNavi li:first-child{
		padding-bottom: 3px;
	}
	.globalNavi li a{	
		padding: 0 13px 10px;
		height : 65px;		
		text-indent : -9999px;
		display: block;			
	}	
	.globalNavi{	
		.globalNavi-item1 a{
			height : 65px;
		}
		.globalNavi-item2 a{
			background-position : -65px 0px;
		}
		.globalNavi-item3 a{		
			background-position : -(65px + 65px*1) 0px;
		}
		.globalNavi-item4 a{
			background-position : -(65px + 65px*2) 0px;
		}
		.globalNavi-item5 a{
			background-position : -(65px + 65px*3) 0px;
		}
		.globalNavi-item6 a{
			height: 65px;
			background-position : -(65px + 65px*4) 0px;
		}			
	}
	/* sideNavi */
	#sideNavi{
		background : #eee;
		padding: 19px 0 19px 19px;
		@include border_radius(5px);
		 box-shadow: 0 59px 38px -73px;
		.sideNavi-content{
			background: $bg_color;
			padding: 15px 15px 20px 15px;
			list-style: none;
			margin : 0;			
			li{
				margin-top: 1px;
				border-bottom: 1px dotted #555;
				a{
					display: block;
					line-height: 36px;
					font-size: 15px;
					padding-left : 20px;					
					position : relative;
					i.fa{
						position : absolute;
						color: #dfeef9;
						font-size: 11px;
						right : 2px;
						top : 0;
						line-height: 36px;
					}
				}
				a:hover{
					color: $main_color;
					i.fa{
						color: $main_color;
					}
				}
			}
			li:last-child{
				border-bottom: none;
			}
		}
	}	
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}


footer{	
	border-top: 2px solid $main_color;	
	.footer-content1{
		padding-top: 23px;
		.footer-logo{
			float: left;
			width: 270px;
			.footer-slogan{
				font:{
					size: 10px;
					weight: bold;
				}
			}			
		}
		.footer-tel{			
			margin: 9px 0 0 80px;
			float: left;
		}
		.footer-con{
			margin-left: 20px;
			float: left;
			width: 220px;
			.fcontact-text{				
				color: #ff5b26;					
				margin: 5px 0 0 -5px;
				font:{
					size: 11px;
					weight: bold;
				}
			}
		}
	}
	.footer-content2{	
		padding: 35px 0 25px;
		.footer-navi{
			float : left;
			list-style: none;
			padding : 0px;
			margin : 0px;
			li{
				float : left;					
				a{
					border-right: 1px solid $text_color;
					line-height: 20px;
					padding: 0 10px;
					color:  $sub_color2;
				}
				a:hover{
					color: $main_color;
				}
			}				
			li:first-child{
				a{
					border-left: 1px solid $text_color;					
				}
			}
		}
		.footer-lang{
			list-style: none;
			margin:0;
			padding: 0; 
			float: right;
			li{
				display: inline-block;
				padding : 0px 15px;
				.fa{
					padding-right: 5px;				
					font-size: 10px;
				}
				a{
					font-size: 12px;
					color: $sub_color2;
				}
				a:hover{
					color: $link_color;					
				}
			}
			li:last-child{
				padding-left: 0;
			}
		}	
	}
	.footer-copyright{
		line-height: 40px;
		background: #eee;
		.footer-bnavi{
			list-style: none;
			margin:0;
			padding: 0; 
			float: left;
			li{
				display: inline-block;
				padding : 0px 15px;
				.fa{
					padding-right: 5px;				
					font-size: 10px;
				}
				a{
					font-size: 12px;
					color: $sub_color2;
				}
				a:hover{
					color: $link_color;					
				}
			}
			li:first-child{
				padding-left: 0;
			}
		}
		.text-copyright{
			float: right;
			font-size: 12px;
			color: $sub_color2;
		}
	}
}