@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{
		color: $sub_color3;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}
#part-blog{
	.part-blog-content{		
		padding: 10px 15px;	
		.item{
			border-top : 1px dotted $border_color;
			.date{
				color : #2369ae;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.date,.title{
				line-height: 40px;
			}
		}
		.item:first-child{
			border-top : none;
		}
	}
}

/* page content */
#content{
	
	/* top */
	.top-content-first{
		margin-top: -9px;
	}
	.top-box-content{
		border: 1px solid #e4e4e4;
		background: #f7f7f7;
		padding: 10px;		
		.title{
			color: #502700;
			padding: 13px 0;
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.text{
			color: $sub_color3;
			line-height: 2em;
		}
		.text-box-space{
			padding-bottom: 29px;
		}
	}
	
	.top-part-con{
		margin-top: 10px;
		position: relative;
		.top-part-con-btn{
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
	}
	
	.top-info-space{
		padding-top: 35px;
	}
	
	.top-info-clr{
		color: $sub_color3;
	}
	
	.top-point-content{
		.top-point-img{
			margin: -32px -89px 0 0;			
			float: right;
		}
		.top-point-list{
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 610px;
			li{
				background : transparent url("../img/top/top_point_img1.png") no-repeat 0 0 scroll;
				padding: 0 0 15px 20px;
				.top-point-title{	
					padding-top: 15px;					
					text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;					
					color: #502600;
					font:{
						size: 29.5px;
						weight: bold;
					}
					.top-point-clr{
						color: #ff3353;
					}
				}
				.top-point-text{
					padding-top: 8px;
				}
			}
			li:last-child{
				padding-bottom: 0;
			}
		}
	}	
	
	/*-----page-reason----*/
	.reason-content-top{
		position: relative;
		.reason-text{
			padding-top: 30px;
			background : transparent url("../img/content/reason_top_img1.png") no-repeat 0 0 scroll;
			float: left;
			margin: -25px 0 0 10px;
			color: $sub_color3;	
			line-height: 2em;
			.reason-top-title{
				font-size: 30px;
				font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
				color: #502600;
				.reason-title-clr{
					font-size: 40px;
					color: #FF3354;
				}
			}
			.reason-top-note{
				color: #FF3355;
				font:{
					size: 15px;
					weight: bold;
				}
			}
		}
		.reason-img{
			position: absolute;
			float: right;
			top: -50px;
			right: -75px;	
		}
	}
	
	
	/*-----  page-hand  ----*/
	.hand-content{
		.hand-title{
			line-height: 38px;
			background-color: #fff2e5;
			color: #8f4f0e;
			padding-left: 10px;
			margin-bottom: 28px;
			font:{
				size: 17px;
				weight: bold;
			}			
		}
	}
	
	.hand-content-btn{
		margin: 30px 69px;
		background-color: #f3f3f3;
		@include border_radius(20px);
		padding: 13px; 
		.hand-btn1{
			width: 292px;
			float: left;
		}
		.hand-btn2{
			margin-left: 11px;
			float: left;
		}
	}
	
	/*-----  page-blog  ----*/
	.print-slogan1{
		background: transparent url("../img/content/print_content_bg.png") no-repeat 0 0 scroll;
		padding-top: 20px;
		height: 148px;				
		font-size: 30px;
		font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
		color: #502600;
			.print-slogan-clr{
				font-size: 40px;
				color: #FF3354;
			}				
	}	
	.print-slogan2{
		margin: -80px 0 50px;
	}
	
	.print-content{
		.print-title1{
			line-height: 38px;
			background-color: #fff2e5;
			color: #8f4f0e;
			padding-left: 10px;
			margin-bottom: 28px;
			font:{
				size: 17px;
				weight: bold;
			}			
		}
		.print-title2{
			color: #502600;
			i.fa{
				font-size: 20px;
				padding-right: 5px;
			}
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.print-text{
			padding-left: 5px;
			i.fa{
				font-size: 10px;
				padding-right: 3px;
			}
		}
	}
	
	.print-color-content{
		padding: 0 47px;
		margin-top: 35px;
		.print-color-list{
			list-style: none;
			margin-top: 40px;
			padding: 0;
			li{
				margin-left: 70px;
				float: left;
				text-align: center;
				.print-list-text{
					text-align: center;
					margin-top: 18px;
					font:{
						size: 14px;
						weight: bold;
					}
				}
			}
			li:first-child{
				margin-left: 0;
			}			
        }			
		.print-color-list:first-child{
			margin-top: 0;
		}
		.print-color-list:last-child{
			li.space1-child{
				margin-left: 65px !important;
			}
			li.space2-child{
				margin-left: 50px !important;
			}
		}
	}
	
	
	/*-----  page-product  ----*/
	.product-categorys{
		background: #eee;
		padding: 6px;
		margin: 0px;			
		list-style: none;
		text-align: center;
		overflow: hidden;
		li{
			background: $bg_color;
			width: 245px;			
			display: inline-block;
			border: 1px solid #ccc;
			text-align: center;			
			font-size: 24px;				
			line-height: 56px;	
		}
		li.first-child{
			background: none;
			color: #1c85db;
			background: $bg_color;
			padding-left: 0;
		}
		li.second-child{
			background : $sub_color1 url("../img/content/product_tab_icon1.jpg") no-repeat 0 0 scroll;
			color: #f69089;					
			padding-left: 25px;
		}
		li.last-child{
			background : $sub_color1 url("../img/content/product_tab_icon2.jpg") no-repeat 0 0 scroll;
			color: #ff9326;				
			padding-left: 5px ;
		}
	}
		ul.product-tabs{	
			background: #eee;
			padding: 6px;
			margin: 0px;			
			list-style: none;
			text-align: center;
		}
		ul.product-tabs li{
			background: $bg_color;
			width: 245px;			
			display: inline-block;
			border: 1px solid #ccc;
			text-align: center;
			cursor: pointer;
			font-size: 24px;				
			line-height: 56px;									
		}
		ul.product-tabs li:first-child{
			background: none;
			color: #1c85db;
			background: $bg_color;
			padding-left: 0;
		}
		ul.product-tabs li{
			background : $sub_color1 url("../img/content/product_tab_icon1.jpg") no-repeat 0 0 scroll;
			color: #f69089;					
			padding-left: 25px;
		}
		ul.product-tabs li:last-child{
			background : $sub_color1 url("../img/content/product_tab_icon2.jpg") no-repeat 0 0 scroll;
			color: #ff9326;				
			padding-left: 5px ;
		}
		ul.product-tabs li.current{
			background: #1c85db;
			color: $sub_color1;
		}

		.product-tab-content{
			display: none;					
			.product-category-name{
				line-height: 38px;
				background-color: #fff2e5;
				color: #8f4f0e;
				padding-left: 10px;
				margin: 25px 0 28px;
				font-size: 18px;	
			}
		}

		.product-tab-content.current{
			display: inherit;
		}
	
	.product-list-group{
		margin-top: 35px;
		.product-list-row{	
			margin-top: 17px;
			.product-list-col{
				border: 1px solid #e4e4e4;
				padding: 10px 10px 15px 10px;	
				float : left;					
				background: #f7f7f7;
				.title{
					text-align: center;
					padding: 15px;
					color: $main_color;
					font:{
						size: 20px;
						weight: bold;
					}
				}
				
				.image{				
					text-align: center;					
				}
			}
			.product-list-col:first-child{
				margin-left: 0px;
			}
			.product-list-col244{
				width: 242px;
				margin-left: 17px;				
			}
			.product-list-btn{	
				text-align: center;				
				line-height: 40px;				
				a{					
					padding: 12px 40px 12px 45px;
					@include border_radius(5px);
					background-color: #58cde6;
					color: $bg_color;
					border: 1px solid #3994bf;
				}
				a:hover{					
					padding: 12px 40px 12px 45px;
					@include border_radius(5px);
					background-color: $bg_color;
					color: #58cde6;
					border: 1px solid #3994bf;
				}
				i.fa{
					padding-left: 7px;
					font-size: 12px;
				}
			}
			
		}	
		.product-list-row:first-child{
			margin-top: 0px;
		}
	}
	
	/*-----  page-product-detail  ----*/
	.product-detail-content{
		margin-top: 25px;
		.product-detail-text{
			width: 379px;
			float: left;
			.product-dtitle{
				line-height: 38px;
				background-color: #fff2e5;
				color: #8f4f0e;
				padding-left: 10px;
				margin-bottom: 28px;
				font:{
					size: 17px;
					weight: bold;
				}			
			}
			.product-dcate-text1{
				margin-bottom: 25px;
				float: left;
				border: 1px solid #ddd;
				padding: 12px;
				text-align: center;
				color: $sub_color1;
				background: $main_color;
				font:{
					size: 14px;
					weight: bold;
				}
			}
			.product-dcate-text2 {
				margin-bottom: 25px;
				text-align: center;
				border: 1px solid #ddd;
				border-left: none;
				padding: 12px;				
				background: $bg_color;
				font:{
					size: 25px;
					weight: bold;
				}
				a{
					color: #1c85db;
				}
			}
			.product-dtext{
				margin-bottom: 25px;
			}
			.product-detail-thumbimg{
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						background: $bg_color;
						padding: 5px;
						border: 1px solid #e7e7e7;	
						float: left;
						display: inline-block;
						margin: 9px;
						img{
							width: 132px;
							height: 90px;							
						}
										
					}
				}
			}
		}
		
		.product-detail-img{			
			margin-left: 19px;
			float: right;
			border: 1px solid #e7e7e7;		
			background: $bg_color;
			padding: 5px;
		}
	}
	
	.product-table-content{
		margin-top: 50px;
		tr th, td{
			border: 1px solid #ddd;
		}	
		tr th{
			background: #fcf5ee;
			width: 222px;
			text-align: center;
			color: $main_color;
			font:{
				size: 15px;
				weight: bold;
			}
		}
		tr td{
			color: #444;
			.product-table-note1{
				margin-right: 10px;
				background: $main_color;
				padding: 5px 9px;				
				@include border_radius(5px);
				color: $sub_color1;
				font:{
					size: 12px;
					weight: bold;
				}
			}
			.product-table-note2{
				@extend .product-table-note1;
				padding: 5px;
			}
		}			
	}
	.product-detail-btn{	
		margin: 20px 220px 0 220px;
		background-color: #f3f3f3;
		@include border_radius(20px);
		text-align: center;
		padding: 13px;
		a{
			background: transparent url("../img/content/product_detail_btn.jpg") no-repeat 0 0 scroll;						
			height: 54px;
			width: 290px;
			display: block;
			text-indent: -9999px;			
		}
	}
		
	/*-----  page-faq  ----*/
	.faq-top-title{
		font-size: 16px;
		margin-bottom: 25px;
	}
	.faq-title{
		line-height: 38px;
		background-color: #fff2e5;
		color: #996600;
		padding-left: 10px;		
		font-size: 17px;			
	}
	.faq-content{
		line-height: 2em;
		padding: 12px 15px 0 15px;
	}
	
	/*----- page-estimate---*/
	.use-group{		
		.use-row{
			margin-top: 5px;
			.use-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.use-col1{
				@extend .use-col;
				background : $bg_color url("../img/content/estimate_use_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.use-col2{
				@extend .use-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_use_img2.jpg") no-repeat 0 0 scroll;		
			}						
		}		
	}
	
	.typeumb-group{		
		.typeumb-row{		
			margin-top: 5px;
			.typeumb-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.typeumb-col1{
				@extend .typeumb-col;
				background : $bg_color url("../img/content/estimate_typeumb_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.typeumb-col2{
				@extend .typeumb-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_typeumb_img2.jpg") no-repeat 0 0 scroll;		
			}	
			.typeumb-col3{
				@extend .typeumb-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_typeumb_img3.jpg") no-repeat 0 0 scroll;		
			}				
		}		
	}
	
	.typebone-group{		
		.typebone-row{		
			margin-top: 5px;
			.typebone-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.typebone-col1{
				@extend .typebone-col;
				background : $bg_color url("../img/content/estimate_typebone_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.typebone-col2{
				@extend .typebone-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_typebone_img2.jpg") no-repeat 0 0 scroll;		
			}						
		}		
	}
	
	.hand-group{		
		.hand-row{		
			margin-top: 5px;
			.hand-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.hand-col1{
				@extend .hand-col;
				background : $bg_color url("../img/content/estimate_hand_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.hand-col2{
				@extend .hand-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_hand_img2.jpg") no-repeat 0 0 scroll;		
			}	
			.hand-col3{
				@extend .hand-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_hand_img3.jpg") no-repeat 0 0 scroll;		
			}				
		}		
	}
	
	
	.print-group{		
		.print-row{		
			margin-top: 5px;
			.print-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.print-col1{
				@extend .print-col;
				background : $bg_color url("../img/content/estimate_print_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.print-col2{
				@extend .print-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_print_img2.jpg") no-repeat 0 0 scroll;		
			}							
		}		
	}
	
	.print-sub1-group{		
		.print-sub1-row{		
			margin-top: 5px;
			.print-sub1-col{
				box-shadow: 0 0 3px 3px #dadada;
				float : left;
				width: 190px;							
				height: 150px;													
			}		
			.print-sub1-col1{
				@extend .print-sub1-col;
				background : $bg_color url("../img/content/estimate_printsub1_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.print-sub1-col2{
				@extend .print-sub1-col;
				margin-left: 15px;
				background : $bg_color url("../img/content/estimate_printsub1_img2.jpg") no-repeat 0 0 scroll;		
			}							
		}		
	}	
	
	.box_shape{		
		margin-top: 10px;
		.radio_use{				
			.wpcf7-list-item{										
				width: 190px;
				margin-left: 15px;
				display : inline-block;						
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		.radio_typeumb, .radio_cloth, .radio_typebone, .radio_hand, .radio_print, .radio_printsub1, .radio_printsub2{
			@extend .radio_use;
		}		
	}	
	
	.form-confirm{
		font-size: 36px;		
		color: $sub_color1;
		background-color: #934d07;
		border: 1px solid #7b4814;
		@include border_radius(5px);
		line-height: 70px;
		text-align: center;
		width: 260px;
	}
	
	.estimate-title{
		background-color: $main_color;
		color: $sub_color1;
		line-height: 48px;
		padding-left: 17px;
		margin: 20px 0 30px;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	
	.estimate-table1{
		tr th, td{
			border: 1px solid #ccc;			
		}
		tr th{
			background-color: #fff2e5;
			color: #8f4f0e;			
		}
	}
	#estimate-content{
		padding: 7px 16px 12px 7px;
		background-color: #f8e7cd;
	}
	.estimate-table2{		
		tr th, td{
			border: 1px solid #7e6c4b;			
		}
		tr th{
			background-color: #402b18;
			color: $sub_color1;
			width: 165px;
		}
		tr td{
			background-color: $bg_color;
		}
	}
	
	/*-----  page-workshop  ----*/
	.workshop-content{
		background-color:  #000;
		padding: 20px;
		img{
			float: left;			
		}
		.workshop-video{
			border: 1px solid #fff;
			float: right;
		}
	}
	.workshop-title{
		line-height: 38px;
		background-color: #fff2e5;
		color: #8f4f0e;
		padding-left: 10px;
		margin-bottom: 28px;
		font:{
			size: 17px;
			weight: bold;
		}			
	}
	.workshop-process{
		border: 1px solid #e4e4e4;
		background: #f7f7f7;
		padding: 17px;		
		.workshop-process-title{
			padding-bottom: 15px;
			color: $main_color;
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.workshop-img1{
			width: 352px;
			float: left;
		}		
		.workshop-img2{
			margin-left: 15px;
			width: 356px;
			float: left;
		}		
	}	
	.workshop-arrow{
		text-align: center;		
	}
	.workshop-complete{
		background: $main_color;
		margin-top: 20px;
		padding: 15px;
		border: 1px solid #e4e4e4;
		.workshop-comp-img1{
			width: 356px;
			float: left;
		}
		.workshop-comp-img2{
			width: 360px;
			float:left;	
			margin-left: 10px;
		}
			
	}
	
	
	/*-----  page-flow  ----*/
	.flow-content{
		position: relative;
		border: 1px solid $main_color;
		.flow-title{
			background : transparent url("../img/content/flow_title.jpg") no-repeat 0 0 scroll;
			text-shadow:  1px 1px 7px $main_color, -1px -1px 7px $main_color, 0 0 7px $main_color; 
			color: $sub_color1;
			line-height: 65px;
			height: 65px;
			.title-step{
				font-size: 20px;
				padding-left: 15px;
				float: left;
			}
			.title-text{
				margin-left: 20px;
				float: left;	
				font:{
					size: 25px;
					weight: bold;
				}
			} 
		}
		.step1-top-img{
			position: absolute;
			top: -31px;
			right: 25px;
		}
		.flow-info{
			padding: 20px 15px 15px 15px;
			line-height: 2em;
			color: #000;
			.flow-step1{
				margin-top: 15px;
				background: #fff0e2;		
				padding: 15px;
				@include border_radius(10px);
				.flow-text{
					float: left;
					.fstep1-title{
						color: #502700;
						i.fa{
							padding-right: 8px;
						}
						font:{
							size: 16px;
							weight: bold;
						}
					}
				}
				.flow-btn{
					margin-top: 10px;
					margin-right: 10px;
					line-height: 55px;
					background: $bg_color;
					float: right;
					box-shadow: 0 0 2px 2px #c9c3be;
					@include border_radius(5px);
					width: 255px;
					padding: 0 10px;					
					text-align: center;
					i.fa{
						padding-right: 8px;
					}	
					font:{
							size: 15px;
							weight: bold;
						}
				}
			}
			.flow-part-con{
				margin-top: -10px;
				position: relative;
				.flow-part-con-btn{
					position: absolute;
					bottom: 15px;
					left: 15px;
				}
			}
			.flow-text-clr{
				padding-top: 20px;
				font-weight: bold;
				color: #ff3456;
			}
		}
	}	
	.flow-arrow{
		text-align: center;
	}
	.flow-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 10px;
		}
	}
	.flow-right-first{
		@extend .flow-right;
		.text{
			margin-right: 0 !important;
			width: 464px !important;
		}
	}	
	
	
	/*-----   page-service  ----*/
	.service-top{
		margin-top: -90px;
	}
	.service_top-title{
		padding-left: 15px;
		margin-bottom: 20px;
		line-height: 38px;
		background-color: #fff2e5;
		color: #8f4f0e;										
		font:{
			size: 17px;
			weight: bold;
		}
	}
	.service-content{
		position: relative;
		border: 1px solid $main_color;
		.service-title{
			background : transparent url("../img/content/flow_title.jpg") no-repeat 0 0 scroll;
			text-shadow:  1px 1px 7px $main_color, -1px -1px 7px $main_color, 0 0 7px $main_color; 
			color: $sub_color1;
			line-height: 65px;
			height: 65px;
			.title-step{
				font-size: 20px;
				padding-left: 15px;
				float: left;
			}
			.title-text{
				margin-left: 20px;
				float: left;	
				font:{
					size: 25px;
					weight: bold;
				}
			} 
		}		
		.service-info{
			padding: 20px 15px 15px 15px;
			line-height: 2em;					
			.service-step2-img1{	
				float: left;	
				width: 352px;				
			}	
			.service-step2-img2{	
				float: left;	
				width: 352px;
				margin-left: 18px;
			}	
			.service-num{
				color: $sub_color1;
				background: $main_color;
				float: left;
				margin-right: 10px;
				width: 25px;
				height: 25px;	
				text-align: center;				
				font:{
					size: 15px;
					weight: bold;
				}
			}
			.service-ntext{
				float: left;
				margin-top: -6px;
			}
		}
	}	
	.service-arrow{
		text-align: center;
	}
	
	.service-process-content{
		background : transparent url("../img/content/service_arrow.png") no-repeat 0 0 scroll;		
		margin: 30px 15px 0 15px;
		height: 536px;
		.service-step-process{
			margin-left: 40px;
			.service-process-title{
				line-height: 31px;
				background-color: #fff2e5;
				color: #8f4f0e;										
				font:{
					size: 17px;
					weight: bold;
				}
				.service-process-num{
					background: $main_color;
					color: $sub_color1;
					font-size: 17px;
					padding: 6px 17px;
					margin-right: 10px;
				}
			}
			.service-process-text{
				margin-left: 90px;
				margin-top: 12px;
			}
		}
	}
	.service-list{
		list-style: none;
		margin-left: 20px;
		padding: 0;	
		float: left;		
		li{
			background : transparent url("../img/content/service_list_icon.jpg") no-repeat 0 0 scroll;		
			padding-left: 25px;			
			line-height: 14px;
			margin-top: 13px;						
		}
		li:first-child{margin-top: 20px;}
	}	
	.service-content-btn{
		margin: 0 70px;
		background-color: #f3f3f3;
		@include border_radius(20px);
		padding: 13px; 	
	}
	.service-table{
		margin: 20px 0 30px;
		tr th,tr{border: 1px solid #ccc;}
		tr th{
			width: 185px;
			text-align: center;
			background: $main_color;
			color: $sub_color1;
			font:{
				size: 15px;
				weight: bold;
			}
		}
		tr td{
			color: #444;
			font:{
				size: 16px;
				weight: bold;
			}
			.service-stext{font-size: 11px;}				
		}
	}
		
		
	/*-----  page-frame  ----*/	
	.frame-content-first{
		border: 1px solid #e4e4e4;
		background: #f7f7f7;
		padding: 10px;
		.frame-first-left{	
			background : transparent url("../img/content/frame_icon.png") no-repeat 0 0 scroll;		
			width: 300px;
			float: left;		
			height: 41px;
			.frame-left-title{
				padding-top: 12px;
				padding-left: 33px;
				text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;					
				color: #502700;
				font:{
					size: 20px;
					weight: bold;
				}				
			}
			.frame-left-img{
				margin-top: 75px;
			}
		}
		.frame-first-right{
			margin-left: 20px;
			float: left;
			.frame-right-title{
				color: $sub_color1;
				text-align: center;
				width: 129px;
				line-height: 27px;
				font-size: 14px;
				background: $main_color;
			}
			.frame-right-last{
				margin-top: 20px;
				.frame-right-ltitle{
					@extend .frame-right-title;
					width: 409px;
				}
			}			
		}
	}
	
	.frame-title{		
		line-height: 38px;
		background-color: #fff2e5;
		color: #8f4f0e;
		padding-left: 10px;
		margin-bottom: 20px;
		font:{
			size: 17px;
			weight: bold;
		}			
	}	
	
	.frame-table{
		margin-top: 27px;
		tr th, td{
			border: 1px solid #ddd;
			text-align: center;
		}
		tr th{			
			background: #fcf5ee;
			color: $main_color;
			font:{
				size: 15px;
				weight: bold;
			}
		}		
		tr td{
			color: #444;
		}
	}
	
	/*-----  page-price ----*/
	.price-title-top{
		line-height: 38px;
		background-color: #fff2e5;
		color: #8f4f0e;
		padding-left: 10px;
		margin-bottom: 15px;
		font:{
			size: 17px;
			weight: bold;
		}			
	}
	.price-text-title{
		padding-top: 8px;
		.price-left{
			float: left;
			width: 59px;
			text-align: center;
			line-height: 40px;
			color: #f3f3f3;
			border: 1px solid #ccc;
			border-right: none;
			background-color: $main_color;
			font:{
				size: 12px;
				weight: bold;
			}
		}
		.price-right{
			width: 118px;
			float: left;
			border: 1px solid #ccc;
			line-height: 40px;
			color: #444;
			background: $bg_color;
			text-align: center;
			font:{
				size: 12px;
				weight: bold;
			}
		}
	}
	.price-table{
		margin-top: 25px;
		tr th, td{
			border: 1px solid #ccc;
			padding: 15px;
		}
		tr th{
			width: 102px;
			text-align: center;
			color: #f3f3f3;
			background-color: $main_color;
			font:{
				size: 15px;
				weight: bold;
			}
		}
		tr td{			
			color: #444;
			font-size: 16px;
			width: 280px;
		}
		.price-ttop{
			font:{
				size: 20px;
				weight: bold;
			}
		}
	}
	.price-value{
		margin-top: 25px;
		background-color: #eee;
		@include border_radius(20px);
		line-height: 107px;			
		color: #ff3456;
		text-align: center;
		font:{
			weight: bold;
			size: 60px;
		}		
		.price-icon{
			padding-left: 65px;
			background : transparent url("../img/content/price_icon.png") no-repeat 0 0 scroll;
		}
		.price-unit{
			font:{
				size: 40px;
				weight: bold;
			}
		}
	}
	
	
	/*-----  page-blog  ----*/
	.use-title{
		color: #8f4f0e;
		margin-top: 30px;
		padding-bottom: 10px;
		font:{
			size: 17px;
			weight: bold;
		}
	}	
	.use-content{
		margin-top: 18px;		
		.use-subtitle{
			line-height: 38px;
			background-color: #fff2e5;
			color: #8f4f0e;
			padding-left: 10px;
			margin-bottom: 17px;
			font:{
				size: 17px;
				weight: bold;
			}
		}
		.use-content-left{	
			width: 360px;
			float: left;
		}
		.use-content-right{	
			width: 360px;
			float: left;
			margin-left: 25px;
		}
	}
	.use-content-btn{
		margin: 20px 220px;
		background-color: #f3f3f3;
		@include border_radius(20px);
		padding: 13px;
		text-align: center;
	}		
	
	
	/*-----  page-blog  ----*/
	.post-row-content{	
		.blog-btnrm{			
			float: right;							
			a{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: $main_color;
				color: $bg_color;
			}
			a:hover{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: $bg_color;
				color: $main_color;
				border: 1px solid $main_color;
			}
		}		
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
			.blog-category{
				a{color: $main_color;}
			}
		}
		.blog-content{
			margin-top: 20px;
		}
	}
	.navigation{
		margin-top: 15px;
		a{color: $main_color;}
	}
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}	
}