@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #502800;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #b65b00; }

a:link {
  color: #4b4331; }

a:visited {
  color: #4b4331; }

a:hover {
  color: #4b4331; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #4b4331;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px;
  overflow: hidden; }

.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 15px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/* LAYOUT */
#top {
  background-color: #8c4600; }
  #top .top-content {
    line-height: 30px;
    color: white; }
    #top .top-content .top-text {
      line-height: 30px;
      float: left;
      font-size: 11px; }
    #top .top-content .top-lang {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right; }
      #top .top-content .top-lang li {
        display: inline-block;
        padding: 0px 15px; }
        #top .top-content .top-lang li .fa {
          padding-right: 5px;
          font-size: 10px; }
        #top .top-content .top-lang li a {
          font-size: 12px;
          color: white; }
        #top .top-content .top-lang li a:hover {
          text-decoration: underline; }
      #top .top-content .top-lang li:last-child {
        padding: 0 0 0 15px; }

header {
  background: #502800; }
  header .header-content {
    padding-top: 20px; }
    header .header-content .logo {
      padding-top: 3px;
      float: left; }
      header .header-content .logo a:hover {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
    header .header-content .header-tel {
      margin: 9px 0 0 77px;
      float: left; }
    header .header-content .header-con {
      margin-left: 10px;
      float: left;
      width: 220px; }
      header .header-content .header-con .contact-text {
        color: #ff5b26;
        margin: 5px 0 0 -5px;
        font-size: 11px;
        font-weight: bold; }

nav {
  background: #502800;
  padding: 20px 0 1px;
  /* end gNavi */ }
  nav #gNavi .dynamic {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  nav #gNavi .dynamic li {
    float: left;
    border-left: 1px solid #8c4600; }
  nav #gNavi .dynamic li:last-child {
    border-right: 1px solid #8c4600;
    width: 180px !important; }
  nav #gNavi .dynamic li a {
    color: #fff;
    display: block;
    padding: 10px 0 5px; }
  nav #gNavi .dynamic li a span {
    display: block;
    text-align: center; }
  nav #gNavi .dynamic li a span.first {
    color: white;
    font-size: 16px;
    line-height: 15px;
    font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro'; }
  nav #gNavi .dynamic li a span.second {
    font-size: 10px;
    color: #ffaf60; }
  nav #gNavi .dynamic li a:hover {
    background: transparent url("../img/common/top_navi_hover.jpg") repeat-x 0 0 scroll; }

#maintop {
  background: #e3e3e3;
  padding: 25px 0 15px; }
  #maintop .maintop-content .maintop-left {
    width: 785px;
    float: left; }
    #maintop .maintop-content .maintop-left img {
      box-shadow: 0 0 2px 2px #cecece; }
  #maintop .maintop-content .maintop-right {
    width: 265px;
    float: right; }
    #maintop .maintop-content .maintop-right img {
      box-shadow: 0 0 2px 2px #cecece; }
    #maintop .maintop-content .maintop-right .maintop-right2 {
      padding-top: 11px; }

#feature {
  background: #e3e3e3;
  padding: 26px 0; }
  #feature .header-content {
    position: relative; }
    #feature .header-content img {
      box-shadow: 0 0 2px 2px #cecece; }
    #feature .header-content .feature-title {
      position: absolute;
      color: #8C4600;
      top: 0;
      left: 27px;
      font-size: 50px;
      line-height: 152px;
      font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; }
      #feature .header-content .feature-title .feature-icon {
        color: white;
        background: #8c4600;
        -webkit-border-radius: 67px;
        -moz-border-radius: 67px;
        border-radius: 67px;
        width: 67px;
        height: 67px;
        line-height: 67px;
        font-size: 18px;
        float: left;
        text-align: center;
        margin: 42px 20px 0 0;
        text-shadow: none; }

#faq-feature {
  padding-top: 34px;
  background-color: #e3e3e3;
  text-indent: -9999px; }

#page-breadcrumb {
  margin: 27px 0 7px; }
  #page-breadcrumb .home {
    text-decoration: underline;
    color: #8C4600; }
  #page-breadcrumb a:hover {
    text-decoration: none; }

#top-flow-navi {
  background: #502800;
  padding: 10px 0; }
  #top-flow-navi .flow-process {
    float: left;
    margin: -2px 0 0 -30px; }
  #top-flow-navi .flow-navi {
    float: left;
    padding-left: 47px;
    margin: 0px;
    list-style: none; }
    #top-flow-navi .flow-navi li {
      float: left;
      padding-left: 4px; }
      #top-flow-navi .flow-navi li a {
        display: inline-block; }
      #top-flow-navi .flow-navi li a:hover {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
    #top-flow-navi .flow-navi li:first-child {
      padding-left: 0;
      padding-right: 20px; }

#content {
  padding: 20px 0px 60px;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /* side-con */
  /* globalNavi.css */
  /* sideNavi */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-250 .image {
    width: 250px; }
  #content .message-250 .text {
    width: 490px; }
  #content .message-264 .image {
    width: 264px; }
  #content .message-264 .text {
    width: 444px; }
  #content .message-364 {
    margin-top: 30px; }
    #content .message-364 .image {
      width: 364px; }
    #content .message-364 .text {
      width: 376px; }
  #content .message-300 .image {
    width: 300px; }
    #content .message-300 .image img {
      box-shadow: 0 0 2px 2px #e7e7e7; }
  #content .message-300 .text {
    width: 440px;
    color: #4b4331;
    line-height: 2em; }
    #content .message-300 .text .reason-clrpink {
      color: #FF3355;
      font-size: 14px;
      font-weight: bold; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col177 .message-col {
    width: 177px;
    margin-left: 17px; }
    #content .message-group.message-col177 .message-col .image {
      padding: 4px;
      border: 1px solid #eaeaea; }
  #content .message-group.message-col177 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col129 .message-col {
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 129px;
    margin-left: 10px; }
  #content .message-group.message-col129 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col226 .message-col {
    width: 226px;
    margin-left: 20px; }
  #content .message-group.message-col226 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .message-classic .message-col .title {
      color: #502800;
      font-size: 16px;
      line-height: 30px; }
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  #content .h2-title {
    background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    line-height: 52px;
    margin-bottom: 20px;
    padding-left: 35px;
    color: #444444;
    width: 763px;
    font-size: 20px;
    font-weight: bold; }
  #content .h3-title {
    background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    line-height: 52px;
    margin-bottom: 20px;
    padding-left: 35px;
    color: #444444;
    width: 763px;
    font-size: 20px;
    font-weight: bold; }
  #content .h3_title {
    margin-bottom: 15px; }
  #content .side-con-bg {
    position: relative; }
    #content .side-con-bg .side-con-btn {
      position: absolute;
      bottom: 120px;
      left: 10px; }
    #content .side-con-bg .side-con-text {
      position: absolute;
      bottom: 20px;
      left: 13px;
      color: #333; }
      #content .side-con-bg .side-con-text .side-text-first {
        font-size: 14px;
        font-weight: bold; }
  #content .globalNavi {
    margin: 0px;
    padding-top: 75px;
    padding-left: 0;
    list-style: none;
    float: left;
    background: transparent url("../img/common/side_img_flow.jpg") no-repeat 0 0 scroll;
    height: 494px;
    width: 280px; }
  #content .globalNavi li {
    padding-bottom: 5px; }
  #content .globalNavi li:first-child {
    padding-bottom: 3px; }
  #content .globalNavi li a {
    padding: 0 13px 10px;
    height: 65px;
    text-indent: -9999px;
    display: block; }
  #content .globalNavi .globalNavi-item1 a {
    height: 65px; }
  #content .globalNavi .globalNavi-item2 a {
    background-position: -65px 0px; }
  #content .globalNavi .globalNavi-item3 a {
    background-position: -130px 0px; }
  #content .globalNavi .globalNavi-item4 a {
    background-position: -195px 0px; }
  #content .globalNavi .globalNavi-item5 a {
    background-position: -260px 0px; }
  #content .globalNavi .globalNavi-item6 a {
    height: 65px;
    background-position: -325px 0px; }
  #content #sideNavi {
    background: #eee;
    padding: 19px 0 19px 19px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 59px 38px -73px; }
    #content #sideNavi .sideNavi-content {
      background: white;
      padding: 15px 15px 20px 15px;
      list-style: none;
      margin: 0; }
      #content #sideNavi .sideNavi-content li {
        margin-top: 1px;
        border-bottom: 1px dotted #555; }
        #content #sideNavi .sideNavi-content li a {
          display: block;
          line-height: 36px;
          font-size: 15px;
          padding-left: 20px;
          position: relative; }
          #content #sideNavi .sideNavi-content li a i.fa {
            position: absolute;
            color: #dfeef9;
            font-size: 11px;
            right: 2px;
            top: 0;
            line-height: 36px; }
        #content #sideNavi .sideNavi-content li a:hover {
          color: #502800; }
          #content #sideNavi .sideNavi-content li a:hover i.fa {
            color: #502800; }
      #content #sideNavi .sideNavi-content li:last-child {
        border-bottom: none; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

footer {
  border-top: 2px solid #502800; }
  footer .footer-content1 {
    padding-top: 23px; }
    footer .footer-content1 .footer-logo {
      float: left;
      width: 270px; }
      footer .footer-content1 .footer-logo .footer-slogan {
        font-size: 10px;
        font-weight: bold; }
    footer .footer-content1 .footer-tel {
      margin: 9px 0 0 80px;
      float: left; }
    footer .footer-content1 .footer-con {
      margin-left: 20px;
      float: left;
      width: 220px; }
      footer .footer-content1 .footer-con .fcontact-text {
        color: #ff5b26;
        margin: 5px 0 0 -5px;
        font-size: 11px;
        font-weight: bold; }
  footer .footer-content2 {
    padding: 35px 0 25px; }
    footer .footer-content2 .footer-navi {
      float: left;
      list-style: none;
      padding: 0px;
      margin: 0px; }
      footer .footer-content2 .footer-navi li {
        float: left; }
        footer .footer-content2 .footer-navi li a {
          border-right: 1px solid #4b4331;
          line-height: 20px;
          padding: 0 10px;
          color: #444444; }
        footer .footer-content2 .footer-navi li a:hover {
          color: #502800; }
      footer .footer-content2 .footer-navi li:first-child a {
        border-left: 1px solid #4b4331; }
    footer .footer-content2 .footer-lang {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right; }
      footer .footer-content2 .footer-lang li {
        display: inline-block;
        padding: 0px 15px; }
        footer .footer-content2 .footer-lang li .fa {
          padding-right: 5px;
          font-size: 10px; }
        footer .footer-content2 .footer-lang li a {
          font-size: 12px;
          color: #444444; }
        footer .footer-content2 .footer-lang li a:hover {
          color: #4b4331; }
      footer .footer-content2 .footer-lang li:last-child {
        padding-left: 0; }
  footer .footer-copyright {
    line-height: 40px;
    background: #eee; }
    footer .footer-copyright .footer-bnavi {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left; }
      footer .footer-copyright .footer-bnavi li {
        display: inline-block;
        padding: 0px 15px; }
        footer .footer-copyright .footer-bnavi li .fa {
          padding-right: 5px;
          font-size: 10px; }
        footer .footer-copyright .footer-bnavi li a {
          font-size: 12px;
          color: #444444; }
        footer .footer-copyright .footer-bnavi li a:hover {
          color: #4b4331; }
      footer .footer-copyright .footer-bnavi li:first-child {
        padding-left: 0; }
    footer .footer-copyright .text-copyright {
      float: right;
      font-size: 12px;
      color: #444444; }

/* part */
.sideBlog .sideBlog-title {
  color: #4b4331;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #502800;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

#part-blog .part-blog-content {
  padding: 10px 15px; }
  #part-blog .part-blog-content .item {
    border-top: 1px dotted #cccccc; }
    #part-blog .part-blog-content .item .date {
      color: #2369ae;
      font-weight: bold;
      float: left;
      width: 100px; }
    #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
      line-height: 40px; }
  #part-blog .part-blog-content .item:first-child {
    border-top: none; }

/* page content */
#content {
  /* top */
  /*-----page-reason----*/
  /*-----  page-hand  ----*/
  /*-----  page-blog  ----*/
  /*-----  page-product  ----*/
  /*-----  page-product-detail  ----*/
  /*-----  page-faq  ----*/
  /*----- page-estimate---*/
  /*-----  page-workshop  ----*/
  /*-----  page-flow  ----*/
  /*-----   page-service  ----*/
  /*-----  page-frame  ----*/
  /*-----  page-price ----*/
  /*-----  page-blog  ----*/
  /*-----  page-blog  ----*/ }
  #content .top-content-first {
    margin-top: -9px; }
  #content .top-box-content {
    border: 1px solid #e4e4e4;
    background: #f7f7f7;
    padding: 10px; }
    #content .top-box-content .title {
      color: #502700;
      padding: 13px 0;
      font-size: 20px;
      font-weight: bold; }
    #content .top-box-content .text {
      color: #4b4331;
      line-height: 2em; }
    #content .top-box-content .text-box-space {
      padding-bottom: 29px; }
  #content .top-part-con {
    margin-top: 10px;
    position: relative; }
    #content .top-part-con .top-part-con-btn {
      position: absolute;
      bottom: 15px;
      left: 15px; }
  #content .top-info-space {
    padding-top: 35px; }
  #content .top-info-clr {
    color: #4b4331; }
  #content .top-point-content .top-point-img {
    margin: -32px -89px 0 0;
    float: right; }
  #content .top-point-content .top-point-list {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 610px; }
    #content .top-point-content .top-point-list li {
      background: transparent url("../img/top/top_point_img1.png") no-repeat 0 0 scroll;
      padding: 0 0 15px 20px; }
      #content .top-point-content .top-point-list li .top-point-title {
        padding-top: 15px;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        color: #502600;
        font-size: 29.5px;
        font-weight: bold; }
        #content .top-point-content .top-point-list li .top-point-title .top-point-clr {
          color: #ff3353; }
      #content .top-point-content .top-point-list li .top-point-text {
        padding-top: 8px; }
    #content .top-point-content .top-point-list li:last-child {
      padding-bottom: 0; }
  #content .reason-content-top {
    position: relative; }
    #content .reason-content-top .reason-text {
      padding-top: 30px;
      background: transparent url("../img/content/reason_top_img1.png") no-repeat 0 0 scroll;
      float: left;
      margin: -25px 0 0 10px;
      color: #4b4331;
      line-height: 2em; }
      #content .reason-content-top .reason-text .reason-top-title {
        font-size: 30px;
        font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
        color: #502600; }
        #content .reason-content-top .reason-text .reason-top-title .reason-title-clr {
          font-size: 40px;
          color: #FF3354; }
      #content .reason-content-top .reason-text .reason-top-note {
        color: #FF3355;
        font-size: 15px;
        font-weight: bold; }
    #content .reason-content-top .reason-img {
      position: absolute;
      float: right;
      top: -50px;
      right: -75px; }
  #content .hand-content .hand-title {
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    padding-left: 10px;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: bold; }
  #content .hand-content-btn {
    margin: 30px 69px;
    background-color: #f3f3f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 13px; }
    #content .hand-content-btn .hand-btn1 {
      width: 292px;
      float: left; }
    #content .hand-content-btn .hand-btn2 {
      margin-left: 11px;
      float: left; }
  #content .print-slogan1 {
    background: transparent url("../img/content/print_content_bg.png") no-repeat 0 0 scroll;
    padding-top: 20px;
    height: 148px;
    font-size: 30px;
    font-family: 'Kozuka Gothic Pr6N' , 'Kozuka Gothic Pro';
    color: #502600; }
    #content .print-slogan1 .print-slogan-clr {
      font-size: 40px;
      color: #FF3354; }
  #content .print-slogan2 {
    margin: -80px 0 50px; }
  #content .print-content .print-title1 {
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    padding-left: 10px;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: bold; }
  #content .print-content .print-title2 {
    color: #502600;
    font-size: 16px;
    font-weight: bold; }
    #content .print-content .print-title2 i.fa {
      font-size: 20px;
      padding-right: 5px; }
  #content .print-content .print-text {
    padding-left: 5px; }
    #content .print-content .print-text i.fa {
      font-size: 10px;
      padding-right: 3px; }
  #content .print-color-content {
    padding: 0 47px;
    margin-top: 35px; }
    #content .print-color-content .print-color-list {
      list-style: none;
      margin-top: 40px;
      padding: 0; }
      #content .print-color-content .print-color-list li {
        margin-left: 70px;
        float: left;
        text-align: center; }
        #content .print-color-content .print-color-list li .print-list-text {
          text-align: center;
          margin-top: 18px;
          font-size: 14px;
          font-weight: bold; }
      #content .print-color-content .print-color-list li:first-child {
        margin-left: 0; }
    #content .print-color-content .print-color-list:first-child {
      margin-top: 0; }
    #content .print-color-content .print-color-list:last-child li.space1-child {
      margin-left: 65px !important; }
    #content .print-color-content .print-color-list:last-child li.space2-child {
      margin-left: 50px !important; }
  #content .product-categorys {
    background: #eee;
    padding: 6px;
    margin: 0px;
    list-style: none;
    text-align: center;
    overflow: hidden; }
    #content .product-categorys li {
      background: white;
      width: 245px;
      display: inline-block;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 24px;
      line-height: 56px; }
    #content .product-categorys li.first-child {
      background: none;
      color: #1c85db;
      background: white;
      padding-left: 0; }
    #content .product-categorys li.second-child {
      background: white url("../img/content/product_tab_icon1.jpg") no-repeat 0 0 scroll;
      color: #f69089;
      padding-left: 25px; }
    #content .product-categorys li.last-child {
      background: white url("../img/content/product_tab_icon2.jpg") no-repeat 0 0 scroll;
      color: #ff9326;
      padding-left: 5px; }
  #content ul.product-tabs {
    background: #eee;
    padding: 6px;
    margin: 0px;
    list-style: none;
    text-align: center; }
  #content ul.product-tabs li {
    background: white;
    width: 245px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    line-height: 56px; }
  #content ul.product-tabs li:first-child {
    background: none;
    color: #1c85db;
    background: white;
    padding-left: 0; }
  #content ul.product-tabs li {
    background: white url("../img/content/product_tab_icon1.jpg") no-repeat 0 0 scroll;
    color: #f69089;
    padding-left: 25px; }
  #content ul.product-tabs li:last-child {
    background: white url("../img/content/product_tab_icon2.jpg") no-repeat 0 0 scroll;
    color: #ff9326;
    padding-left: 5px; }
  #content ul.product-tabs li.current {
    background: #1c85db;
    color: white; }
  #content .product-tab-content {
    display: none; }
    #content .product-tab-content .product-category-name {
      line-height: 38px;
      background-color: #fff2e5;
      color: #8f4f0e;
      padding-left: 10px;
      margin: 25px 0 28px;
      font-size: 18px; }
  #content .product-tab-content.current {
    display: inherit; }
  #content .product-list-group {
    margin-top: 35px; }
    #content .product-list-group .product-list-row {
      margin-top: 17px; }
      #content .product-list-group .product-list-row .product-list-col {
        border: 1px solid #e4e4e4;
        padding: 10px 10px 15px 10px;
        float: left;
        background: #f7f7f7; }
        #content .product-list-group .product-list-row .product-list-col .title {
          text-align: center;
          padding: 15px;
          color: #502800;
          font-size: 20px;
          font-weight: bold; }
        #content .product-list-group .product-list-row .product-list-col .image {
          text-align: center; }
      #content .product-list-group .product-list-row .product-list-col:first-child {
        margin-left: 0px; }
      #content .product-list-group .product-list-row .product-list-col244 {
        width: 242px;
        margin-left: 17px; }
      #content .product-list-group .product-list-row .product-list-btn {
        text-align: center;
        line-height: 40px; }
        #content .product-list-group .product-list-row .product-list-btn a {
          padding: 12px 40px 12px 45px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #58cde6;
          color: white;
          border: 1px solid #3994bf; }
        #content .product-list-group .product-list-row .product-list-btn a:hover {
          padding: 12px 40px 12px 45px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: white;
          color: #58cde6;
          border: 1px solid #3994bf; }
        #content .product-list-group .product-list-row .product-list-btn i.fa {
          padding-left: 7px;
          font-size: 12px; }
    #content .product-list-group .product-list-row:first-child {
      margin-top: 0px; }
  #content .product-detail-content {
    margin-top: 25px; }
    #content .product-detail-content .product-detail-text {
      width: 379px;
      float: left; }
      #content .product-detail-content .product-detail-text .product-dtitle {
        line-height: 38px;
        background-color: #fff2e5;
        color: #8f4f0e;
        padding-left: 10px;
        margin-bottom: 28px;
        font-size: 17px;
        font-weight: bold; }
      #content .product-detail-content .product-detail-text .product-dcate-text1 {
        margin-bottom: 25px;
        float: left;
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
        color: white;
        background: #502800;
        font-size: 14px;
        font-weight: bold; }
      #content .product-detail-content .product-detail-text .product-dcate-text2 {
        margin-bottom: 25px;
        text-align: center;
        border: 1px solid #ddd;
        border-left: none;
        padding: 12px;
        background: white;
        font-size: 25px;
        font-weight: bold; }
        #content .product-detail-content .product-detail-text .product-dcate-text2 a {
          color: #1c85db; }
      #content .product-detail-content .product-detail-text .product-dtext {
        margin-bottom: 25px; }
      #content .product-detail-content .product-detail-text .product-detail-thumbimg ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        #content .product-detail-content .product-detail-text .product-detail-thumbimg ul li {
          background: white;
          padding: 5px;
          border: 1px solid #e7e7e7;
          float: left;
          display: inline-block;
          margin: 9px; }
          #content .product-detail-content .product-detail-text .product-detail-thumbimg ul li img {
            width: 132px;
            height: 90px; }
    #content .product-detail-content .product-detail-img {
      margin-left: 19px;
      float: right;
      border: 1px solid #e7e7e7;
      background: white;
      padding: 5px; }
  #content .product-table-content {
    margin-top: 50px; }
    #content .product-table-content tr th, #content .product-table-content td {
      border: 1px solid #ddd; }
    #content .product-table-content tr th {
      background: #fcf5ee;
      width: 222px;
      text-align: center;
      color: #502800;
      font-size: 15px;
      font-weight: bold; }
    #content .product-table-content tr td {
      color: #444; }
      #content .product-table-content tr td .product-table-note1, #content .product-table-content tr td .product-table-note2 {
        margin-right: 10px;
        background: #502800;
        padding: 5px 9px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        font-weight: bold; }
      #content .product-table-content tr td .product-table-note2 {
        padding: 5px; }
  #content .product-detail-btn {
    margin: 20px 220px 0 220px;
    background-color: #f3f3f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 13px; }
    #content .product-detail-btn a {
      background: transparent url("../img/content/product_detail_btn.jpg") no-repeat 0 0 scroll;
      height: 54px;
      width: 290px;
      display: block;
      text-indent: -9999px; }
  #content .faq-top-title {
    font-size: 16px;
    margin-bottom: 25px; }
  #content .faq-title {
    line-height: 38px;
    background-color: #fff2e5;
    color: #996600;
    padding-left: 10px;
    font-size: 17px; }
  #content .faq-content {
    line-height: 2em;
    padding: 12px 15px 0 15px; }
  #content .use-group .use-row {
    margin-top: 5px; }
    #content .use-group .use-row .use-col, #content .use-group .use-row .use-col1, #content .use-group .use-row .use-col2 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .use-group .use-row .use-col1 {
      background: white url("../img/content/estimate_use_img1.jpg") no-repeat 0 0 scroll; }
    #content .use-group .use-row .use-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_use_img2.jpg") no-repeat 0 0 scroll; }
  #content .typeumb-group .typeumb-row {
    margin-top: 5px; }
    #content .typeumb-group .typeumb-row .typeumb-col, #content .typeumb-group .typeumb-row .typeumb-col1, #content .typeumb-group .typeumb-row .typeumb-col2, #content .typeumb-group .typeumb-row .typeumb-col3 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .typeumb-group .typeumb-row .typeumb-col1 {
      background: white url("../img/content/estimate_typeumb_img1.jpg") no-repeat 0 0 scroll; }
    #content .typeumb-group .typeumb-row .typeumb-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_typeumb_img2.jpg") no-repeat 0 0 scroll; }
    #content .typeumb-group .typeumb-row .typeumb-col3 {
      margin-left: 15px;
      background: white url("../img/content/estimate_typeumb_img3.jpg") no-repeat 0 0 scroll; }
  #content .typebone-group .typebone-row {
    margin-top: 5px; }
    #content .typebone-group .typebone-row .typebone-col, #content .typebone-group .typebone-row .typebone-col1, #content .typebone-group .typebone-row .typebone-col2 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .typebone-group .typebone-row .typebone-col1 {
      background: white url("../img/content/estimate_typebone_img1.jpg") no-repeat 0 0 scroll; }
    #content .typebone-group .typebone-row .typebone-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_typebone_img2.jpg") no-repeat 0 0 scroll; }
  #content .hand-group .hand-row {
    margin-top: 5px; }
    #content .hand-group .hand-row .hand-col, #content .hand-group .hand-row .hand-col1, #content .hand-group .hand-row .hand-col2, #content .hand-group .hand-row .hand-col3 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .hand-group .hand-row .hand-col1 {
      background: white url("../img/content/estimate_hand_img1.jpg") no-repeat 0 0 scroll; }
    #content .hand-group .hand-row .hand-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_hand_img2.jpg") no-repeat 0 0 scroll; }
    #content .hand-group .hand-row .hand-col3 {
      margin-left: 15px;
      background: white url("../img/content/estimate_hand_img3.jpg") no-repeat 0 0 scroll; }
  #content .print-group .print-row {
    margin-top: 5px; }
    #content .print-group .print-row .print-col, #content .print-group .print-row .print-col1, #content .print-group .print-row .print-col2 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .print-group .print-row .print-col1 {
      background: white url("../img/content/estimate_print_img1.jpg") no-repeat 0 0 scroll; }
    #content .print-group .print-row .print-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_print_img2.jpg") no-repeat 0 0 scroll; }
  #content .print-sub1-group .print-sub1-row {
    margin-top: 5px; }
    #content .print-sub1-group .print-sub1-row .print-sub1-col, #content .print-sub1-group .print-sub1-row .print-sub1-col1, #content .print-sub1-group .print-sub1-row .print-sub1-col2 {
      box-shadow: 0 0 3px 3px #dadada;
      float: left;
      width: 190px;
      height: 150px; }
    #content .print-sub1-group .print-sub1-row .print-sub1-col1 {
      background: white url("../img/content/estimate_printsub1_img1.jpg") no-repeat 0 0 scroll; }
    #content .print-sub1-group .print-sub1-row .print-sub1-col2 {
      margin-left: 15px;
      background: white url("../img/content/estimate_printsub1_img2.jpg") no-repeat 0 0 scroll; }
  #content .box_shape {
    margin-top: 10px; }
    #content .box_shape .radio_use .wpcf7-list-item, #content .box_shape .radio_typeumb .wpcf7-list-item, #content .box_shape .radio_cloth .wpcf7-list-item, #content .box_shape .radio_typebone .wpcf7-list-item, #content .box_shape .radio_hand .wpcf7-list-item, #content .box_shape .radio_print .wpcf7-list-item, #content .box_shape .radio_printsub1 .wpcf7-list-item, #content .box_shape .radio_printsub2 .wpcf7-list-item {
      width: 190px;
      margin-left: 15px;
      display: inline-block; }
    #content .box_shape .radio_use .wpcf7-list-item:first-child, #content .box_shape .radio_typeumb .wpcf7-list-item:first-child, #content .box_shape .radio_cloth .wpcf7-list-item:first-child, #content .box_shape .radio_typebone .wpcf7-list-item:first-child, #content .box_shape .radio_hand .wpcf7-list-item:first-child, #content .box_shape .radio_print .wpcf7-list-item:first-child, #content .box_shape .radio_printsub1 .wpcf7-list-item:first-child, #content .box_shape .radio_printsub2 .wpcf7-list-item:first-child {
      margin-left: 0; }
  #content .form-confirm {
    font-size: 36px;
    color: white;
    background-color: #934d07;
    border: 1px solid #7b4814;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    width: 260px; }
  #content .estimate-title {
    background-color: #502800;
    color: white;
    line-height: 48px;
    padding-left: 17px;
    margin: 20px 0 30px;
    font-size: 24px;
    font-weight: bold; }
  #content .estimate-table1 tr th, #content .estimate-table1 td {
    border: 1px solid #ccc; }
  #content .estimate-table1 tr th {
    background-color: #fff2e5;
    color: #8f4f0e; }
  #content #estimate-content {
    padding: 7px 16px 12px 7px;
    background-color: #f8e7cd; }
  #content .estimate-table2 tr th, #content .estimate-table2 td {
    border: 1px solid #7e6c4b; }
  #content .estimate-table2 tr th {
    background-color: #402b18;
    color: white;
    width: 165px; }
  #content .estimate-table2 tr td {
    background-color: white; }
  #content .workshop-content {
    background-color: #000;
    padding: 20px; }
    #content .workshop-content img {
      float: left; }
    #content .workshop-content .workshop-video {
      border: 1px solid #fff;
      float: right; }
  #content .workshop-title {
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    padding-left: 10px;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: bold; }
  #content .workshop-process {
    border: 1px solid #e4e4e4;
    background: #f7f7f7;
    padding: 17px; }
    #content .workshop-process .workshop-process-title {
      padding-bottom: 15px;
      color: #502800;
      font-size: 20px;
      font-weight: bold; }
    #content .workshop-process .workshop-img1 {
      width: 352px;
      float: left; }
    #content .workshop-process .workshop-img2 {
      margin-left: 15px;
      width: 356px;
      float: left; }
  #content .workshop-arrow {
    text-align: center; }
  #content .workshop-complete {
    background: #502800;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e4e4e4; }
    #content .workshop-complete .workshop-comp-img1 {
      width: 356px;
      float: left; }
    #content .workshop-complete .workshop-comp-img2 {
      width: 360px;
      float: left;
      margin-left: 10px; }
  #content .flow-content {
    position: relative;
    border: 1px solid #502800; }
    #content .flow-content .flow-title {
      background: transparent url("../img/content/flow_title.jpg") no-repeat 0 0 scroll;
      text-shadow: 1px 1px 7px #502800, -1px -1px 7px #502800, 0 0 7px #502800;
      color: white;
      line-height: 65px;
      height: 65px; }
      #content .flow-content .flow-title .title-step {
        font-size: 20px;
        padding-left: 15px;
        float: left; }
      #content .flow-content .flow-title .title-text {
        margin-left: 20px;
        float: left;
        font-size: 25px;
        font-weight: bold; }
    #content .flow-content .step1-top-img {
      position: absolute;
      top: -31px;
      right: 25px; }
    #content .flow-content .flow-info {
      padding: 20px 15px 15px 15px;
      line-height: 2em;
      color: #000; }
      #content .flow-content .flow-info .flow-step1 {
        margin-top: 15px;
        background: #fff0e2;
        padding: 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
        #content .flow-content .flow-info .flow-step1 .flow-text {
          float: left; }
          #content .flow-content .flow-info .flow-step1 .flow-text .fstep1-title {
            color: #502700;
            font-size: 16px;
            font-weight: bold; }
            #content .flow-content .flow-info .flow-step1 .flow-text .fstep1-title i.fa {
              padding-right: 8px; }
        #content .flow-content .flow-info .flow-step1 .flow-btn {
          margin-top: 10px;
          margin-right: 10px;
          line-height: 55px;
          background: white;
          float: right;
          box-shadow: 0 0 2px 2px #c9c3be;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          width: 255px;
          padding: 0 10px;
          text-align: center;
          font-size: 15px;
          font-weight: bold; }
          #content .flow-content .flow-info .flow-step1 .flow-btn i.fa {
            padding-right: 8px; }
      #content .flow-content .flow-info .flow-part-con {
        margin-top: -10px;
        position: relative; }
        #content .flow-content .flow-info .flow-part-con .flow-part-con-btn {
          position: absolute;
          bottom: 15px;
          left: 15px; }
      #content .flow-content .flow-info .flow-text-clr {
        padding-top: 20px;
        font-weight: bold;
        color: #ff3456; }
  #content .flow-arrow {
    text-align: center; }
  #content .flow-right .image, #content .flow-right-first .image {
    float: right; }
  #content .flow-right .text, #content .flow-right-first .text {
    float: left;
    margin-right: 10px; }
  #content .flow-right-first .text {
    margin-right: 0 !important;
    width: 464px !important; }
  #content .service-top {
    margin-top: -90px; }
  #content .service_top-title {
    padding-left: 15px;
    margin-bottom: 20px;
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    font-size: 17px;
    font-weight: bold; }
  #content .service-content {
    position: relative;
    border: 1px solid #502800; }
    #content .service-content .service-title {
      background: transparent url("../img/content/flow_title.jpg") no-repeat 0 0 scroll;
      text-shadow: 1px 1px 7px #502800, -1px -1px 7px #502800, 0 0 7px #502800;
      color: white;
      line-height: 65px;
      height: 65px; }
      #content .service-content .service-title .title-step {
        font-size: 20px;
        padding-left: 15px;
        float: left; }
      #content .service-content .service-title .title-text {
        margin-left: 20px;
        float: left;
        font-size: 25px;
        font-weight: bold; }
    #content .service-content .service-info {
      padding: 20px 15px 15px 15px;
      line-height: 2em; }
      #content .service-content .service-info .service-step2-img1 {
        float: left;
        width: 352px; }
      #content .service-content .service-info .service-step2-img2 {
        float: left;
        width: 352px;
        margin-left: 18px; }
      #content .service-content .service-info .service-num {
        color: white;
        background: #502800;
        float: left;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 15px;
        font-weight: bold; }
      #content .service-content .service-info .service-ntext {
        float: left;
        margin-top: -6px; }
  #content .service-arrow {
    text-align: center; }
  #content .service-process-content {
    background: transparent url("../img/content/service_arrow.png") no-repeat 0 0 scroll;
    margin: 30px 15px 0 15px;
    height: 536px; }
    #content .service-process-content .service-step-process {
      margin-left: 40px; }
      #content .service-process-content .service-step-process .service-process-title {
        line-height: 31px;
        background-color: #fff2e5;
        color: #8f4f0e;
        font-size: 17px;
        font-weight: bold; }
        #content .service-process-content .service-step-process .service-process-title .service-process-num {
          background: #502800;
          color: white;
          font-size: 17px;
          padding: 6px 17px;
          margin-right: 10px; }
      #content .service-process-content .service-step-process .service-process-text {
        margin-left: 90px;
        margin-top: 12px; }
  #content .service-list {
    list-style: none;
    margin-left: 20px;
    padding: 0;
    float: left; }
    #content .service-list li {
      background: transparent url("../img/content/service_list_icon.jpg") no-repeat 0 0 scroll;
      padding-left: 25px;
      line-height: 14px;
      margin-top: 13px; }
    #content .service-list li:first-child {
      margin-top: 20px; }
  #content .service-content-btn {
    margin: 0 70px;
    background-color: #f3f3f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 13px; }
  #content .service-table {
    margin: 20px 0 30px; }
    #content .service-table tr th, #content .service-table tr {
      border: 1px solid #ccc; }
    #content .service-table tr th {
      width: 185px;
      text-align: center;
      background: #502800;
      color: white;
      font-size: 15px;
      font-weight: bold; }
    #content .service-table tr td {
      color: #444;
      font-size: 16px;
      font-weight: bold; }
      #content .service-table tr td .service-stext {
        font-size: 11px; }
  #content .frame-content-first {
    border: 1px solid #e4e4e4;
    background: #f7f7f7;
    padding: 10px; }
    #content .frame-content-first .frame-first-left {
      background: transparent url("../img/content/frame_icon.png") no-repeat 0 0 scroll;
      width: 300px;
      float: left;
      height: 41px; }
      #content .frame-content-first .frame-first-left .frame-left-title {
        padding-top: 12px;
        padding-left: 33px;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        color: #502700;
        font-size: 20px;
        font-weight: bold; }
      #content .frame-content-first .frame-first-left .frame-left-img {
        margin-top: 75px; }
    #content .frame-content-first .frame-first-right {
      margin-left: 20px;
      float: left; }
      #content .frame-content-first .frame-first-right .frame-right-title, #content .frame-content-first .frame-first-right .frame-right-last .frame-right-ltitle {
        color: white;
        text-align: center;
        width: 129px;
        line-height: 27px;
        font-size: 14px;
        background: #502800; }
      #content .frame-content-first .frame-first-right .frame-right-last {
        margin-top: 20px; }
        #content .frame-content-first .frame-first-right .frame-right-last .frame-right-ltitle {
          width: 409px; }
  #content .frame-title {
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold; }
  #content .frame-table {
    margin-top: 27px; }
    #content .frame-table tr th, #content .frame-table td {
      border: 1px solid #ddd;
      text-align: center; }
    #content .frame-table tr th {
      background: #fcf5ee;
      color: #502800;
      font-size: 15px;
      font-weight: bold; }
    #content .frame-table tr td {
      color: #444; }
  #content .price-title-top {
    line-height: 38px;
    background-color: #fff2e5;
    color: #8f4f0e;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: bold; }
  #content .price-text-title {
    padding-top: 8px; }
    #content .price-text-title .price-left {
      float: left;
      width: 59px;
      text-align: center;
      line-height: 40px;
      color: #f3f3f3;
      border: 1px solid #ccc;
      border-right: none;
      background-color: #502800;
      font-size: 12px;
      font-weight: bold; }
    #content .price-text-title .price-right {
      width: 118px;
      float: left;
      border: 1px solid #ccc;
      line-height: 40px;
      color: #444;
      background: white;
      text-align: center;
      font-size: 12px;
      font-weight: bold; }
  #content .price-table {
    margin-top: 25px; }
    #content .price-table tr th, #content .price-table td {
      border: 1px solid #ccc;
      padding: 15px; }
    #content .price-table tr th {
      width: 102px;
      text-align: center;
      color: #f3f3f3;
      background-color: #502800;
      font-size: 15px;
      font-weight: bold; }
    #content .price-table tr td {
      color: #444;
      font-size: 16px;
      width: 280px; }
    #content .price-table .price-ttop {
      font-size: 20px;
      font-weight: bold; }
  #content .price-value {
    margin-top: 25px;
    background-color: #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    line-height: 107px;
    color: #ff3456;
    text-align: center;
    font-weight: bold;
    font-size: 60px; }
    #content .price-value .price-icon {
      padding-left: 65px;
      background: transparent url("../img/content/price_icon.png") no-repeat 0 0 scroll; }
    #content .price-value .price-unit {
      font-size: 40px;
      font-weight: bold; }
  #content .use-title {
    color: #8f4f0e;
    margin-top: 30px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold; }
  #content .use-content {
    margin-top: 18px; }
    #content .use-content .use-subtitle {
      line-height: 38px;
      background-color: #fff2e5;
      color: #8f4f0e;
      padding-left: 10px;
      margin-bottom: 17px;
      font-size: 17px;
      font-weight: bold; }
    #content .use-content .use-content-left {
      width: 360px;
      float: left; }
    #content .use-content .use-content-right {
      width: 360px;
      float: left;
      margin-left: 25px; }
  #content .use-content-btn {
    margin: 20px 220px;
    background-color: #f3f3f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 13px;
    text-align: center; }
  #content .post-row-content .blog-btnrm {
    float: right; }
    #content .post-row-content .blog-btnrm a {
      padding: 5px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #502800;
      color: white; }
    #content .post-row-content .blog-btnrm a:hover {
      padding: 5px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: white;
      color: #502800;
      border: 1px solid #502800; }
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  #content .post-row-content .post-row-meta .blog-category a {
    color: #502800; }
  #content .post-row-content .blog-content {
    margin-top: 20px; }
  #content .navigation {
    margin-top: 15px; }
    #content .navigation a {
      color: #502800; }
  #content .wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #502800;
      color: #fff; }
    #content .wp-pagenavi span.current {
      border-color: #502800 !important; }
